.title {
  font-size: 45px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.mainContainer {
  display: block;
  position: relative;
  width: 100vw;
}
.secondContainer {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
